.start-container{
    height: 100vh;
    width: 70vw;
    margin-top:4em;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.2em;
}
.start-heading{
    display: flex;
    font-family: 'Mali Regular';
    font-size: 24px;
    color: #12151F;
    filter: opacity(0.85);
    position: absolute;
    z-index: 2;
}
.start-text{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50em;
    z-index: 4;
    position: absolute;
    font-family: 'Mali Bold';
    font-size: 16px; 
    padding: 0.5em;
    background-color:#12151F;
    filter: opacity(0.95);
    border-radius: 0.2em;
    margin-top: 15em;
    color: #05F4B7;
}

.gif-container{
    display: flex;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 0.2em;
    filter:opacity(0.4);
    z-index: 1;
}
.gif-container img{
    display: flex;
    min-width: 100%;
    overflow: hidden;
    object-fit: contain;
    flex-shrink: 0;
    -webkit-flex-shrink:0;
    border-radius: 0.2em;
}

