.gallery-wrapper{
    max-width: 70vw;
    min-height: 100vh;
    margin-top: 4em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(20rem, 1fr))  ;
    gap: 4em;
    object-fit: contain;
    background-color: #FBFAF5;
    border-radius: 0.2em;
}
.hamster-name{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    justify-self: center;
    z-index: 9;
    min-width: 100%;
    min-height: 20%; 
}
.add-hamster-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}
.add-hamster-button button{
    display: flex;
    min-height: 3.5em;
    min-width: 22em;
    border-radius: 0.3em;
    border: none;
    background-color: #12151F;
    align-items: center;
    justify-content: center;
    font-family: 'Mali Bold';
    font-size: 24px + 2vmin;
    margin-top: 1em;
    transition: all 0.7s;
    color:#05F4B7;
}
.add-hamster-button button:hover{
    cursor: pointer;
    background-color: #371BB1;
    transition: all 0.7s;
    color:#05F4B7;
}
.add-hamster{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    border-radius: 0.2em;
    background-color: #12151F;
}
.hamster-detail{
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.2em;
    padding: 1em;
    margin-top: 4em;
}