.history-container{
    background-color: #12151F;
    display: grid;
    margin-top: 4em;
    border-radius: 0.2em;
    grid-template-columns: 1fr 1fr 10%;
    place-items: center;
    min-width: 70vw;
    max-height: 20em ;
}
.winner-container{
    display: flex;
    max-height: 14em;
    max-width: 20em;
    flex-direction: column;
    grid-column: 1/2;
    background-color:#12151F ;
    color:#05F4B7 ;
    padding: 2em;
    border-radius: 0.2em;
}
.loser-container{
    display: flex;
    max-height: 14em;
    max-width: 25em;
    flex-direction: column;
    grid-column: 2/3;
    background-color:#12151F ;
    color:#05F4B7 ;
    padding: 2em;
    border-radius: 0.2em;
}
.history-container .history-image{
    display: flex;
    max-height: 15em;
    max-width: 20em;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 0.2em;
}
.history-container .history-image img{
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
}
.history-list{
    margin-top: 4em;
    font-family: 'Mali Bold';
    justify-content: center;
    text-align: center;
}
.history-container .delete-button{
    grid-column: 3/4;
}
h3{
    font-family: 'Mali Bold';
}